body{
	margin: 0;
	padding: 0;


}

html{
	font-family: 'Nunito', sans-serif;	
}

.clear{
	clear: both;
}

.container{
	width: 100%;
	height: 100vh;
	display: inline-block;
	position: fixed;
}

.div0{
	width: 33%;
	height: 100vh;
	float: left;
	background-image: url(../images/mulher.png);

}

.div1{
	width: 67%;
	height: 100vh;
	float: left;
	position: relative;
}

.logos{
	width: 85%;
	margin: 0 32px;
	margin-top: 16px;
	height: 64px;
	position: relative;
}

.logo1{
	width: 135px;
	height: 64px;
	float: left;
	cursor: pointer;
	-webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}
.logo2{
	width: 75px;
	height: 31px;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	
}

.logo2 img{
	-webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}


.logo2 img:hover{
	-webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.texto1{
	color: white;
	font-size: 11px;
	text-align: center;
	font-weight: 400;
	margin-top: 128px;
}

.texto1 h1{
	font-weight: 600;
	margin: 0;

}
.texto2{
	margin-left: 200px;
	margin-top: 32px;
	color: #4D4A47;
}

.texto2 h2{
	margin: 0;
	font-size: 32px;
	font-weight: 600;
}

.texto2 p{
	margin-top: 16px;
	margin-bottom: 0;
	font-size: 14px;
}

.texto2 form input{
	width: 358px;
	height: 63px;
	margin-top: 16px;
	font-size: 20px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
}

button{
	margin-top: 32px;
	width: 263px;
	height: 56px;
	background-color: #FF5A00;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 1s;
	text-decoration: none;
	color: white;
	font-weight: 400;
}


button:hover{
	background-color:#4D4A47; 
}
.texto2 h3{
	margin-top: 32px;
	color: #4D4A47;
	cursor: pointer;
	transition: 1s;
	margin-bottom: 0;
}

.texto2 h3:hover{
	color: black;

}
.linha{
	margin-top: 32px;
	background-color: #E8E8E8;
	width: 360px;
	height: 2px;
}

.texto2 h4{
	margin: 0;
	margin-top: 32px;
	font-size: 16px;
	color: #66615C;
}

.texto2 h2{
	margin: 0;
	font-size: 16px;
	cursor: pointer;
	transition: 1s;
}

.texto2 h2:hover{
	color: black;
	font-weight: 700;
}
.aviao{
	position: absolute;
	top: 56px;
	right: 121px;
}